name: Monitor Tests
on:
  schedule:
    - cron: "*/34 * * * *"
  workflow_dispatch:
jobs:
  run-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci
      - name: Create env file
        run: |
          touch .env
          echo "${{ secrets.ENV_FILE }}" > .env
          cat .env
      - name: Clone Monitor Repositories
        uses: actions/checkout@main
        with:
          repository: "wrujel/monitor-repos"
          path: "./monitor-repos"
      - name: Copy projects and remove monitor-repos
        run: |
          cp -r ./monitor-repos/data/projects.json ./data
          rm -rf ./monitor-repos
      - name: Update Projects
        run: npm run update
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium
      - name: Run Playwright tests
        run: npx playwright test --reporter="./tests/reporter.ts"
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: data
          path: |
            data
            tests
            utils
  generate-report:
    if: always()
    needs: run-tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci
      - uses: actions/download-artifact@v4
        with:
          name: data
          path: .
      - name: Generate new readme
        run: npm run generate-readme
      - name: Update cron
        run: npm run update-cron
      - name: Commit and push changes
        run: |
          git config --local user.email "$USER_EMAIL"
          git config --local user.name "$USER_NAME"
          git pull
          git add README.md
          git add data
          git add tests
          git add utils
          git add .github/workflows
          git diff --quiet && git diff --staged --quiet || git commit -m "[bot] Update report"
        env:
          USER_EMAIL: ${{ vars.USER_EMAIL }}
          USER_NAME: ${{ vars.USER_NAME }}
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PUSH_TOKEN }}
          branch: main
